<style type="text/css" media="screen">
  * { margin: 0; padding: 0 }
  #container { width: 256px; height: 224px; border: 1px solid #999; margin: 20px auto 0 auto; }
</style>

<body>
<div id="container">
  <canvas id="super-js-adventure" width="256" height="224"></canvas>
</div>


