<style type="text/css" media="screen">

  #container {  border: 1px solid #999;  }
</style>
<div id="container">
  <canvas id="super-js-adventure" width="600" height="800"></canvas>
</div>

<script>


        function my_render(ctx,image) {


           // alert(image.src)
          ctx.drawImage(image,100,100);
        }
        //my_render(ctx00,link0)


</script>


